global_defs {
   router_id {{ percona_node_name }}
}

vrrp_script chk_haproxy {
        script "killall -0 haproxy"
        interval 1
        weight -20
        debug
        fall 2
        rise 2
}

vrrp_instance {{ percona_node_name }} {
        interface ens3
        state BACKUP
        virtual_router_id 150
        priority {{ keepalived_priority }}
        authentication {
            auth_type PASS
            auth_pass secret_for_vrrp_auth
        }
        track_script {
                chk_haproxy weight 20
        }
        virtual_ipaddress {
                {{ cluster_virtual_ip }}/24 dev ens3
        }
#        notify_master "/usr/bin/sh /usr/local/sbin/alert.sh '{{ percona_node_name }} became MASTER'"
#        notify_backup "/usr/bin/sh /usr/local/sbin/alert.sh '{{ percona_node_name }} became BACKUP'"
#        notify_fault "/usr/bin/sh /usr/local/sbin/alert.sh '{{ percona_node_name }} became FAULT'"

}