service mysqlchk
{
        disable = no
        flags           = REUSE
        socket_type     = stream
        port            = 9199
        wait            = no
        user            = nobody
        server          = /usr/bin/clustercheck
        server_args     = {{ pxc_cluster_sst_user }} {{ pxc_cluster_sst_password }} 1 /var/tmp/mss.log 0 /etc/mysql/my.cnf
        log_on_failure  += USERID
        only_from       = 0.0.0.0/0
        per_source      = UNLIMITED
}
