global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    #stats socket /var/lib/haproxy/stats


defaults
    log         global
    mode        http
    option      tcplog
    option      dontlognull
    retries     3
    maxconn     2000
    timeout connect  5000
    timeout client  50000
    timeout server  50000

listen stats 
    bind 0.0.0.0:8086
    mode http
    stats enable
    stats uri /
    stats realm "balancer"
    stats auth logan:elephant

listen mysql-cluster 
    bind 0.0.0.0:3386
    mode tcp
    balance roundrobin
    option  httpchk


{% for server in haproxy_backend_servers %}
    server {{ server.name }} {{ (server.address)+":3306" }} check port 9199 inter 12000 rise 3 fall 3
{% endfor %}



